<div class="user">
  <div class="user-login">
    <img class="user-login__logo", src="/assets/logo.png">
    <%= link_to image_tag('/assets/twitter_login.png', {:width => '60%'}), '/auth/twitter', class:"user-login__image" %>
  </div>
</div>
