<h1>Result</h1>
<p>
  <strong>Recommend Jobs </strong>
  <%= @recommend_jobs %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Question', question_user_path(@user) %> |
<%= link_to 'Back', users_path %>
