<%= stylesheet_link_tag "result", :media => "all" %>
<body>
  <div class="user-header-container">
    <div class="user-header-container__title">
    <p>診断結果</p>
    </div>
    <div class="user-header-detail2">
    <p>あなたにマッチしていそうな職種一覧です。<br>参考にしてください。</p>
    </div>
  </div>
  
    <div id="modal-container">
    <div class="modal-background">
      <div class="modal" id="one">
        <h2>CEO</h2>
        <p>会社を経営するという仕事</p>
        <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
  			  <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
  			</svg>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="buttons">
    <% @recommend_jobs.first(8).each do |job| %>
      <div id="one" class="button">
        <h2>
          <%= job[0] %>
        </h2>
      </div>
    <% end %>
    </div>
  </div>
  <%= javascript_include_tag "result/main.js" %>
</body>
