<%= stylesheet_link_tag "result", :media => "all" %>
<body>
  <div class="user-header-container">
    <div class="user-header-container__title">
    <p>診断結果</p>
    </div>
    <div class="user-header-detail2">
    <p>あなたにマッチしていそうな職種一覧です。<br>参考にしてください。</p>
    </div>
  </div>
  <%= render 'jobDetail' %>
  
  <div class="content">
    <div class="buttons">
    <% @recommend_jobs.first(8).each do |job| %>
      <div id="one" class="button">
        <h2>
          <%= job[0] %>
        </h2>
      </div>
    <% end %>
    </div>
  </div>
  <%= javascript_include_tag "result/main.js" %>
</body>
