// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  width: 90%;
  margin: auto;
}

.user-login{
  margin-top: 200px;
  text-align: center;
  @at-root{
    #{&}__image{
      width: 80%;
      margin-bottom: 30px;
    }
    #{&}__logo{
      width: 60%;
    }
  }

}

.user-header-container{
  margin-top: 40px;
  text-align: center;
  @at-root{
    #{&}__title{
      font-size: $sp-large;
    }
  }
}

.user-header-box{
  display: inline-block;
  vertical-align: middle;
  width:40%;
}


.user-edit{
  text-align: center;
  font-size: $sp-medium;
  @at-root{
    #{&}__field{
      margin-top: 20px;
      @at-root{
        #{&}__label{
        }
      }
    }
  }
}

.user-icon-wrapper{
  width: 100%;
}

.user-icon{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-header-detail{
  font-size: $sp_large;
}
.user-header-detail2{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: $sp_medium;
}

.user-edit-link-wrapper{
  text-align: right;
}

.user-edit-link{
  color: grey; 
  font-size: 8px;
  border: 1px solid gray;
  -webkit-border-radius:3px;
  -moz-border-radius:3px; 
  border-radius:3px;
}
.user-links{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  @at-root {
    #{&}__question{
      @include flat-button($green);
      margin-right: 10px;
    }
    #{&}__result{
      @include flat-button(grey);
      margin-left: 10px;
    }
  }
}

.user-content-wrapper{
  margin-top: 15px;
}

.user-content-title{
  font-size: $sp_large;
}

.user-content-detail{
  margin-top: 5px;
  font-size: $sp_medium;
}
